.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 73px;
  padding: 24px 16px;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.logoTitle {
  font:
    600 20px/28px 'Inter',
    sans-serif;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.role {
  padding: 4px 12px;
  color: #6b7280;
  font:
    400 14px/20px 'Inter',
    sans-serif;
  background-color: #f3f4f6;
  border-radius: 50px;
}

.profile {
  padding: 6px;
  color: white;
  font:
    500 14px/20px 'Inter',
    sans-serif;
  background-color: #6b46c1;
  border-radius: 50%;
}
