@font-face {
  font-weight: 400;
  font-family: 'Inter';
  font-style: normal;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-family: 'Inter';
  font-style: normal;
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: 'Inter';
  font-style: normal;
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Inter';
  font-style: normal;
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
}
